@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$border-radius:20px;
$colors: (
    primary: hsl(172, 67%, 45%),
    Very-dark-cyan: hsl(183, 100%, 15%),
    Dark-grayish-cyan: hsl(186, 14%, 43%),
    Grayish-cyan: hsl(184, 14%, 56%),
    Light-grayish-cyan: hsl(185, 41%, 84%),
    Very-light-grayish-cyan: hsl(189, 41%, 97%),
    White: hsl(0, 0%, 100%),
    Input:hsl(180, 15%, 94%)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
};



@mixin center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

body{
    font-family: 'Space Mono', monospace;
    @include center;
    background-color:color(Light-grayish-cyan) ;
}

h1{
    margin-top: 20px;
    color: color(Dark-grayish-cyan);
    font-size: 1.2rem;
    letter-spacing: .5rem;
}

section{
    height: 15vh;
}

.container {
    background-color: color(White);
    height: 85vh;
    width: 100vw;
    border-radius: $border-radius;
    @include center;
}

.bill{
    width: 90%;
    text-align: center;
    margin: 20px;

    p{
        text-align: left;
        font-size: .8rem;
        font-weight: bold;
        color: color(Dark-grayish-cyan);
    }

    input{
        height: 30px;
        width: 90%;
        border: none;
        border-radius: 5px;
        background-color: color(Input);

        
    }
    ::placeholder { 
            color: color(Grayish-cyan);
            padding-left:15px;
            font-weight: bold;
          }
}

.discont{
    .porcent-container{
        display: flex;
        
    }

    .porcent{
        
    }
}