@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$border-radius: 20px;
$colors: (
    primary: hsl(172, 67%, 45%),
    Very-dark-cyan: hsl(183, 100%, 15%),
    Dark-grayish-cyan: hsl(186, 14%, 43%),
    Grayish-cyan: hsl(184, 14%, 56%),
    Light-grayish-cyan: hsl(185, 41%, 84%),
    Very-light-grayish-cyan: hsl(189, 41%, 97%),
    White: hsl(0, 0%, 100%),
    Input:hsl(180, 15%, 94%)
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

;



@mixin center {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin Title {
    text-align: left;
    font-size: .7rem;
    font-weight: bold;
    color: color(Dark-grayish-cyan);
}

@mixin Input {
    height: 30px;
    width: 90%;
    border: none;
    border-radius: 5px;
    background-color: color(Input);
}

body {
    font-family: 'Space Mono', monospace;
    @include center;
    background-color: color(Light-grayish-cyan);
}

h1 {
    margin-top: 20px;
    color: color(Dark-grayish-cyan);
    font-size: 1.2rem;
    letter-spacing: .5rem;
}

section {
    height: 15vh;
}

.container {
    background-color: color(White);
    height: 85vh;
    width: 100vw;
    border-radius: $border-radius;
    @include center;
}

.bill {
    width: 90%;
    text-align: center;
    margin: 20px;

    p {
        @include Title;
    }

    input {
        @include Input;
    }

    ::placeholder {
        color: color(Grayish-cyan);
        padding-left: 15px;
        font-weight: bold;
    }
}

.discont {
    width: 100vw;
    @include center;

    p {
        @include Title;
        margin: 10px;
    }

    .porcent-container {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
        text-align: center;
    }

    .porcent {
        background-color: color(Very-dark-cyan);
        color: color(White);
        border-radius: 5px;
        width: 30vw;
        padding: 5px 0;
        font-size: 1.1rem;
        font-weight: bold;


    }

    .porcent:hover {
        background-color: color(primary);
        color: color(Very-dark-cyan);
    }


    .white {
        background-color: color(Input);
        color: color(Dark-grayish-cyan);
    }
}

.people {
    width: 90%;
    text-align: center;
    margin: 20px;

    p {
        @include Title;
    }

    input {
        @include Input;
    }

    ::placeholder {
        color: color(Grayish-cyan);
        padding-left: 15px;
        font-weight: bold;
    }
}